header nav {
    background-color: aqua;
    color: #fff;
    padding: 10px 0;
    text-align: left;
    
}
head,body,footer {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    width: 880px;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    padding: 10px 20px;
    color: #fff;

}

 .home{
    background-color:#fff;
    padding: 10px;
    border-radius: 10px;
    color: #000;
    width: 880px;
    height: 800px;
    text-align: start;


}

h2 {
    background-color:darkgreen;
    color: #fff;
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
    width: 100%;
    

}

img:hover {
    transform: scale(1.05);

}

.student-photo-section,.about-section {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    grid-column: 2rem;
    grid-row: 2;
    background-color: azure;

}
section.courses-section {
    grid-column: 1/-1;
    padding: 1.5rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

section.student-photo-section {
    display: block;
    object-fit: cover;
    border-radius: 1rem;
    padding: 1rem;
    width:280px;
    margin:1rem auto 1rem auto;
    position: relative;
    left:300px;
    bottom: 265px;
    height: 400px;
    
    
}

img {
    border-radius: 2rem;
    position: relative;
    left:30px;
    transition: transform 0.5s ease;
    padding: 1rem;
    
}

section.about-section{
    width: 540px;
    padding: 1rem;
    
    
}
p {
    width: 560px;

}

section.courses-section {
    grid-column: 1/-1;
    background-color:azure;
    padding: 2rem;
    border-radius: 8px;
    max-width: 880px;
    margin: auto;
    grid-template-columns: column;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
    color: #000;
    
}



.filter-button-section {
    flex: 1;
    padding: 0.75rem;
    border-radius: 7px;
    border: none;
    background-color: violet;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0.45px 10px rgba(0,0,0,0.4);
}
.course-item {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
    gap:1.5rem;
    background-color: white;
}

.course-item {
    padding: 1.5rem;
    text-align: center;
    font-weight: 600;
    border-radius: 0.75rem;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    background-color:azure;



}

    
