:root {
    --font-family: "Roboto", sans-serif;
    --primary-color: forestgreen;
  
}

body {
  font-family: "Roboto", sans-serif;
  
}


header.logo {
  background: green;
  color: white


}
header div {
  display:flex;
  color: white;
  background-color: green;
  justify-content: space-between;
  height:120px;
  font-size: small;
  font-weight: 300;

}

nav  {
  color:white;
  text-decoration: none;
  padding: 1rem 0;
  background-color: green;
  display: flex;
  flex-direction: row;
  gap:1rem;
  align-items: center;
  justify-content: center;
}

.menu-toggle {
  font-size: 1.5rem;
  cursor: pointer;
}
body,main,footer {
  width: 900px;
}

.hero h1 {
  font-size: 2rem;
}

.hero p {
  max-width: 600px;
  margin: 1rem auto;

}
section.events-section {
  background-color:black;
  color: white;
  width: 390px;
  height: 300px;
  grid-column: 1/-1;
  margin: 0;
  padding: .1rem 0;
  position: relative;
  top: 80px;
  
  

}
section.events {
  background-color:aquamarine;
  width:390px;
  height: 300px;
  grid-column: 1/-1;
  margin: 0;
  padding: 1rem 0;
  position:relative; 
  top:130px;

  
}
section.current-weather{
  background-color: aqua;
  width: 255px;
  height:300px;
  grid-column: 1/-1;
  position: absolute;
  left: 401px;
  

}

article.article-three {
  background-color: red;
  width: 290px;
  grid-column: 1/-1;
  height: 220px;
  position: absolute;
  left: 620px;
  top:1350px;
}
article.article-one {
  background-color: bisque;
  width: 290px;
  height: 220px;
  object-fit: cover;
  grid-column: 1/-1;
  margin: 1rem 0;
  padding: .1rem 0;
  position: relative;
  top: 50px;  
}























section.current-weather-section {
  background-color:black;
  color: white;
  width: 255px;
  height:300px;
  grid-column: 1/-1;
  position: absolute;
  left: 401px;
  top:600px;
  text-align: center;

}
section.weather-forecast-section{
  background-color: black;
  color: white;
  width: 255px;
  height: 300px;
  grid-column: 1/-1;
  position: absolute;
  left: 660px;
  top:600px;
  text-align: center;
}

section.weather-forecast{
  background-color: red;
  width: 255px;
  height: 300px;
  grid-column: 1/-1;
  position: absolute;
  left: 660px;
  top:760px;
}



.home-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
h3 {
  background-color: green;
  color: white;
  height: 50px;
  position: relative;
  bottom: 50px;
  text-align: center;
}

article.business-one {
  background-color: bisque;
  width: 290px;
  height: 220px;
  object-fit: cover;
  grid-column: 1/-1;
  margin: 1rem 0;
  padding: .1rem 0;
  position: relative;
  top: 130px;
  border-radius: 1rem;  
  
}
article.article-two {
  background-color: bisque;
  width: 290px;
  height: 220px;
  grid-column: 1/-1;
  position: absolute;
  left: 308px;
  top:px;
}








article.business-two {
  background-color: bisque;
  width: 290px;
  height: 220px;
  grid-column: 1/-1;
  position: absolute;
  left: 308px;
  top:970px;
  border-radius: 1rem
  
  
  
}
h4 { 
  background-color:aliceblue;
  height: 70px;
  position: relative;
  bottom: 48px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  text-align: center;
  
  

}

    

.business-three {
  background-color: bisque;
  width: 290px;
  grid-column: 1/-1;
  height: 220px;
  position: absolute;
  left: 620px;
  top:962px;
  border-radius: 1rem;

  


}
.h3.weather-forecast {
  width: 300px;
  color:white;
  height: 400px;
  padding: 2rem;
  background-color:black;
  border-radius: 0.5rem;

}
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: green;
  color: white;
  position: absolute;
  top:1300px;
}
section.information {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: green;
  color: white;
  position: absolute;
  top:500px;


  
  

  
}
