:root {
    --primary-color:green;
    --secondary-color:orange; 
    --background-color:azure;
    --text-color: white;
    --font-family: "Roboto", sans-serif;


    --font-family: "Roboto", sans-serif;
    --font-optical-sizing: auto;
    --font-weight: <weight>;
    --font-style: normal;
    --font-variation-settings:
    --"wdth" <width>;
}

body {
  font-family: "Roboto", sans-serif;
  
}


header.logo {
  background: green;
  color: white


}
header div {
  display:flex;
  color: white;
  background-color: green;
  justify-content: space-around;

}

nav  {
  color:white;
  text-decoration: none;
  padding: 0.5rem 0;
  display: block;
  background-color: green;
  display: flex;
  flex-direction: row;
  gap:1.5rem;
  align-items: center;
  justify-content: center;
}

.menu-toggle {
  font-size: 1.5rem;
  cursor: pointer;
}


.hero h1 {
  font-size: 2rem;
}

.hero p {
  max-width: 600px;
  margin: 1rem auto;
}
section.event {
  background-color:redgreen;
  color:white;
  padding: 2.5; 
  margin: 2rem auto;                                                                                                                                              
  width: 400px;
  height: 400px;
  padding: 1rem;
  border-radius: 8px;

  

}

.business-one {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.business-two {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}



h3 {
  padding: 2rem 0;
}


.business-three {
  background:white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);


}
.h3.weather-forecast {
  width: 300px;
  color:white;
  height: 400px;
  padding: 2rem;
  background-color: green;
  border-radius: 0.5rem;

}
