:root {
    --primary-color: green;
    --secondary-color: orange;
    --background-color: #f4f6f5;
    --text-color: #000;
    --font-family: "Roboto", sans-serif;

}





theader {
  background: var(--primary-color);
  color: white;
  padding: 1rem 0;
}

.header-content {
  display: flex;
  align-items: center;
  flex-direction:row;
  align-items: center;
  background-color:blue ;
  color: black;
  justify-content: end;

}
