:root {
    --font-family: "Roboto", sans-serif;
    --primary-color: forestgreen;
  
}

body {
  font-family: "Roboto", sans-serif;
  
}


header.logo {
  background: green;
  color: white


}
header div {
  display:flex;
  color: white;
  background-color: green;
  justify-content: space-around;

}

nav  {
  color:white;
  text-decoration: none;
  padding: 0.5rem 0;
  background-color: green;
  display: flex;
  flex-direction: row;
  gap:1.5rem;
  align-items: center;
  justify-content: center;
}

.menu-toggle {
  font-size: 1.5rem;
  cursor: pointer;
}
body,main,footer {
  width: 900px;
}

.hero h1 {
  font-size: 2rem;
}

.hero p {
  max-width: 600px;
  margin: 1rem auto;
}


.business-one {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.business-two {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
section.events-section {
  background-color: aqua;
  width: 390px;
  height: 300px;
  grid-column: 1/-1;
  margin: .01rem;
  padding: .1rem 0;
  

}
section.current-weather-section {
  background-color: aqua;
  width: 255px;
  height:300px;
  grid-column: 1/-1;
  position: absolute;
  left: 401px;
  top:500px;
}
section.weather-forecast-section{
  background-color: aqua;
  width: 255px;
  height: 300px;
  grid-column: 1/-1;
  position: absolute;
  left: 660px;
  top:500px
}
.home-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
h3 {
  background-color: black;
  color: white;
}
.members-article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
article.business-one {
  background-color: bisque;
  width: 290px;
  height: 250px;
  border-radius: 0.5rem;
  box-sizing: border-box;
  margin: 2rem  0;
}
article.business-two {
  background-color: bisque;
  width: 290px;
  height: 250px;
  border-radius: 0.5rem;
  box-sizing: border-box; 
  margin: 2rem 0;
  position:absolute;
  left: 305px;
  top: 794px;
}
article.business-three {
  background-color: bisque;
  width: 290px;
  height: 250px;
  border-radius:0.5; 
  margin: 2rem 0;
  box-sizing: border-box;
  position: absolute;
  left:604px;
  top: 800px;
}
h4 { 
  background-color: aquamarine;
  margin-top: .01rem;
  box-sizing: border-box;
}

.members-article {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

    

.business-three {
  background:white;
  padding: 1.5rem;
  border-radius: 8px;
  box-sizing: border-box;


}
.h3.weather-forecast {
  width: 300px;
  color:white;
  height: 400px;
  padding: 2rem;
  background-color:orangered;
  border-radius: 0.5rem;

}
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: green;
  color: white;

}
h3 {
  padding: 10px;
}

