:root {
    --font-family: "Roboto", sans-serif;
    --primary-color: forestgreen;
  
}

body {
  font-family: "Roboto", sans-serif;
  
}


header.logo {
  background: green;
  color: white


}
header div {
  display:flex;
  color: white;
  background-color: green;
  justify-content: space-between;
  height:120px;
  font-size: small;
  font-weight: 300;

}

nav  {
  color:white;
  text-decoration: none;
  padding: 1rem 0;
  display: flex;
  flex-direction:row;
  gap:1rem;
  align-items: center;
  justify-content: space-evenly;
  font-size: large;
}

.menu-toggle {
  font-size: 1.5rem;
  cursor: pointer;
}
body,main,footer {
  width: 900px;
}

.hero h1 {
  font-size: 2rem;
}

.hero p {
  max-width: 600px;
  margin: 1rem auto;

}
section.events-section {
  background-color:black;
  color: white;
  width: 390px;
  height: 300px;
  grid-column: 1/-1;
  margin: 0;
  padding: .1rem 0;
  position: relative;
  top: 80px;
  
  

}
section.events {
  background-color:violet;
  width:390px;
  height: 300px;
  grid-column: 1/-1;
  position:relative; 
  top:118px;
  margin: 0 ;
  padding: .1rem 0;
  
  

  
}
section.current-weather {
  background-color:violet;
  width: 255px;
  height:300px;
  grid-column: 1/-1;
  position: absolute;
  left: 403px;
  top:1147px;
  text-align: center;

  

}

article.article-three {
  background-color:bisque;
  width: 290px;
  grid-column: 1/-1;
  height: 250px;
  position: absolute;
  left: 620px;
  top:1650px;
  border-radius: 1rem;
}
article.article-one {
  background-color: bisque;
  width: 290px;
  height: 250px;
  object-fit: cover;
  grid-column: 1/-1;
  margin: 1rem 0;
  position: relative;
  top:295px;
  text-align: center;
  border-radius: 1rem;
  padding: .1rem 0;

}
























section.current-weather-section {
  background-color:black;
  color: white;
  width: 255px;
  height:300px;
  grid-column: 1/-1;
  position: absolute;
  left: 401px;
  top:600px;
  text-align: center;

}
section.weather-forecast-section{
  background-color: black;
  color: white;
  width: 255px;
  height: 300px;
  grid-column: 1/-1;
  position: absolute;
  left: 660px;
  top:601px;
  text-align: center;
}

section.weather-forecast{
  background-color:violet;
  width: 255px;
  height: 300px;
  grid-column: 1/-1;
  position: absolute;
  left: 666px;
  top:1148px;
  text-align: center;
  color:black;
}



.home-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
h3 {
  background-color: green;
  color: white;
  height: 50px;
  position: relative;
  bottom: 50px;
  text-align: center;
}

article.business-one {
  background-color: bisque;
  width: 290px;
  height: 250px;
  grid-column: 1/-1;
  position: relative;
  top: 276px;
  text-align: center;
  margin: 0;
  padding: .1rem 0;
  border-radius: 1rem;

  
}
article.article-two {
  background-color: bisque;
  width: 290px;
  height: 250px;
  grid-column: 1/-1;
  position: absolute;
  left: 313px;
  top:1650px;
  text-align: center;
  border-radius: 1rem;
  margin: 0;
}








article.business-two {
  background-color: bisque;
  width: 290px;
  height: 250px;
  grid-column: 1/-1;
  position: absolute;
  left: 311px;
  top:1100px;
  border-radius: 1rem;
  text-align: center;
  transition: transform 0.3s ease;
  
  
  
}
h4 { 
  background-color:green;
  height: 70px;
  position: relative;
  bottom:70px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  text-align: center;
  color: white;
  
  
  
  

}

    

.business-three {
  background-color: bisque;
  width: 290px;
  grid-column: 1/-1;
  height: 250px;
  position: absolute;
  left: 620px;
  top:1098px;
  border-radius: 1rem;
  text-align: center;

  


}
.h3.weather-forecast {
  width: 300px;
  color:white;
  height: 400px;
  padding: 2rem;
  background-color:black;
  border-radius: 0.5rem;

}
footer.chamber-information.social-media.p-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: green;
  color: white;
  position: absolute;
  top:1300px;
}
section.information{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: green;
  color: white;
  position: relative;
  top:2000px;

}
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color:green;
  color: white;
  position: relative;
  top:400px;
  height: 230px;


}
  

h5  {
  display:grid;
  font-size: x-large;
  align-items: center;
  gap: 1rem;
  margin: 0;
  
}
h6 {
  font-size: large;
  background-color: green;
  gap: .1rem;
  color: white;
  width: 250px;
  height: 100px;
  border-radius: 0 1rem 0 1rem;
  margin: 1rem;
  
}

    
.membership_levels {
   display: grid;
   gap: .1px;
   align-items: baseline;
}
    
    
a {
  position: relative;
  bottom:100px;
  left: 40px;
  color: #000;

      
}
form {
    margin: 1rem 2%;
  
    label {
      display: block;
      font-size: .8rem;
      color: purple;
      padding-top: .2rem;
    }
    h3 {
      font-size: .9rem;
      color: #E07A5F;
      margin: 1.5rem 0 .2rem 0;
      border-bottom: 1px solid #eee;
    }
  
    input[type=text],
    input[type=tel],
    input[type=date],
    input[type=email],
    select {
      display: block;
      margin: .1rem 0 1rem 0 ;
      padding: .3rem;
      border: 1px solid #999;
      border-radius: 4px;
      border-left-width: 5px;
      border-left-color:#555;
      font-size: 1rem;
      color: #3D405B;
      width: 250px;
    }
  
    input:required {border-left-color: #d70000;}
    input:focus {border-left-color: black; outline:none;}
    input:required:valid{border-left-color: green;}
  
    input[type=submit] {
      border: none;
      text-align: center;
      background-color: #3D405B;
      color: white;
      border-radius: 1rem;
      padding: .75rem 1.5rem;
      margin: 2rem 0;
      font-size: 1.2rem;
      -webkit-appearance: none;
      appearance: none;
    }
  
  }
  
