/* ===== RESET ===== */
* { box-sizing: border-box; }

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #000;
    background: #fff;
    overflow-x: hidden;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* ===== COLORS ===== */
:root {
    --primary: darkblue;
    --dark: #000;
    --light: #fff;
}

/* ===== HEADER ===== */
header,
footer,
.member-card,
.grid section {
    background: var(--dark);
    color: var(--light);
}

header {
    padding: 1rem;
    font-size: x-large;
}

.containercontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
}

/* ===== NAVIGATION ===== */
nav {
    display: flex;
    gap: 1rem;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

nav a {
    color: var(--light);
    text-decoration: none;
    padding: .5rem;
}

nav a:hover {
    background: blue;
}

nav a.active {
    background: var(--light);
    color: var(--primary);
    border-radius: 5px;
}