@media (min-width: 641px) and (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "card1 card2"
      "card3 card3"
      "card4 card5"
      "card6 card7"
      "card8 card8";
  }
}