header nav {
    background-color: blue;
    color: #fff;
    padding: 10px 0;
    text-align: left;

    
}
head,body,footer {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    width: 900px;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    padding: 11px 20px;
    color: #fff;

}

 .home{
    background-color:#fff;
    padding: 10px;
    border-radius: 10px;
    color: #000;
    width: 900px;
    height: 800px;
    text-align: start;


}

h2 {
    background-color:darkgreen;
    color:white;
    font-size: xx-large;
    font-weight:bold;
    text-align: center;
    width: 100%;
    padding: 21px 0;

    
    

}

img:hover {
    transform: scale(1.04);

}

.student-photo-section,.about-section {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.1rem;
    grid-column: 2rem;
    grid-row: 2;
    background-color: azure;

}
section.courses-section {
    grid-column: 1/-1;
    padding: 1.5rem;
    border-radius: 1.1rem;
    margin-bottom: 2rem;
}

section.student-photo-section {
    display: block;
    object-fit: cover;
    border-radius: .5rem;
    padding: 0  1rem;
    width:275px;
    margin:1rem auto 1rem auto;
    position: absolute;
    bottom:70px;
    left:601px;
    
        
}

img {
    border-radius: 2rem;
    position: relative;
    left:30px;
    bottom:30px;
    width:200px;
    transition: transform 0.6s ease;
    padding: 1rem;
    
}

section.about-section{
    width: 540px;
    padding-left: 1.1rem;
    
}
    
h2.about-section {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    padding: 0rem 2rem;
    bottom:201px;
      
}    

p {
    width: 540px;
    height: 250px;
    padding-left: 2rem;
    border: 1.1rem;    

}

.filter-buttons {
    display: flex;
    gap: 1.1rem;
    margin-bottom: 1.5rem;

}

.filter-button-section {
    display: flex;
    padding: 0.76rem;
    border-radius: 1rem;
    border: none;
    background-color: violet;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.course-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap:1.5rem;
    background-color:#f4f4f4;
    
    
    
}

.course {
    background: #fff;
    padding: 1.5rem;
    text-align: center;
    font-weight: 600;
    border-radius: 0.75rem;
    box-shadow: 0 8px 20px rgba(0,0,0,0.07);
}


.filters-button-section {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    margin: 2rem 0;
}
   
.filter-buttons {
   padding: 0.8; 
   border-radius: 12px;
   border: none;
   background: azure;
   font-size: 1.1;
   cursor: pointer;
}
.filter-button-active {
    background-color: aqua;
    color: #fff;

}