header nav {
    background-color: blue;
    color: #fff;
    padding: 10px 0;
    text-align: left;

    
}
body {
  font-family: "Roboto",  Arial, sans-serif
  
}

head,body,footer {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    width: 900px;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    padding: 11px 20px;
    color: #fff;

}

 .home{
    background-color:#fff;
    padding: 10px;
    border-radius: 10px;
    color: #000;
    width: 900px;
    height: 800px;
    text-align: start;


}

h2 {
    background-color:darkgreen;
    color:white;
    font-size: xx-large;
    font-weight:bold;
    text-align: center;
    width: 100%;
    padding: 21px 0;

    
    

}

img:hover {
    transform: scale(1.04);

}

.student-photo-section,.about-section {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.1rem;
    grid-column: inherit;
    grid-row: 2;
    background-color: azure;

}
section.courses-section {
    grid-column: 1/-1;
    padding: 1.5rem;
    border-radius: 1.1rem;
    margin-bottom: 2rem;
}

section.student-photo-section {
    display: block;
    object-fit: cover;
    border-radius: .5rem;
    padding: 0  1rem;
    width:275px;
    margin:1rem auto 1rem auto;
    position: absolute;
    bottom:70px;
    left:601px;
    
        
}

img {
    border-radius: 2rem;
    position: relative;
    left:30px;
    bottom:30px;
    width:200px;
    transition: transform 0.6s ease;
    padding: 1rem;
    
}

section.about-section{
    width: 540px;
    padding-left: 1.1rem;
    
}
    
h2.about-section {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    padding: 0rem 2rem;
    bottom:201px;
    
    
}
h2.course-section {
    align-items: center;
    padding: 0rem 2rem;
    bottom:240px;
    height: 80px;
    padding-left:1.5rem;
    background-color: aqua;
    gap:2rem;    
    
}   

p {
    width: 540px;
    height: 250px;
    padding-left: 2rem;
    border: 1.1rem;    

}

.filter-buttons_section {
    display: flex;
    gap: 1.1rem;
    margin-bottom: 1.5rem;
    padding: 0.75rem 1.5rem;
    border-radius: 1rem;
    border:none;
    background-color: #f9f9f9;
    font-weight: 600;
    cursor: pointer;
    transition:backgroun 0.3s ease;
}

.filter-buttons {
    display: flex;
    gap:1.1rem;
    margin-bottom: 1.5rem;

}
.filter-button:hover {
    background-color: orange;
    transform: translateY(-0.6px);
}

.filter-button.active {
    background-color: peru;
    color: black; 
    border-color: pink;
}

.filters {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding: 1rem;
    margin-bottom: 1.5rem;
}




.filter-button{
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    border: 2px solid #ccc;
    background-color: #f9f9f9;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.course-grid:hover {
    background-color: green;
    transform: translateY(-5px);/*lift effct*/

}
.filter-section:hover {
    display: flex;
    padding: 0.76rem;
    border-radius: 1rem;
    border: none;
    background-color: white;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
.filter:hover {
    background-color: orange;
    transform: translateY(-0.6px);
}
.filter.active {
    background-color: violet;
    color: white; 
    border-color: pink;
}

.filter-item {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding: 1rem;
    margin-bottom: 1.5rem;
}
.course-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid green;
    background-color: green;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 80px;
    width: 240px;
    text-align: center;
    gap: 0.5rem;
}



#courses-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    background-color: aqua;
    padding: 1.5rem;
} 



p.credit {
    text-align: center;
    font-weight: bold;
    padding: 2rem;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:azure;
    padding: 100px 0;
    align-items: center;
}
div.p {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: blue;
    color: white;
    width: 900px;
    height: 150px;



}







    
