/* General mobile styles */
img {
    height: auto;
    display: block;
    
}
* {
  box-sizing: border-box;
}
header span {
    font-size: xx-large;
}

.information {
    font-size: x-large;
    text-align: center;

}



 

header {
    background-color: black;
    color: white;
    padding: 1rem;
    margin-left: 3px;
    font-size: x-large;
    
  

    
}


body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: white;
    color: black;
    overflow-x: hidden;
  
    
}


.hero {
    position: relative;
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
    
}
.cta {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: darkblue;
    color: white;
    padding: 0.8rem 1rem;
    text-decoration: none;
    border-radius: 5px;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    background: black;
    flex-wrap: wrap;
}

nav li {
    padding: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
}
nav a.active {
    background-color: darkblue;
}

 nav a:hover {
    background-color: blue

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header h1 {
  margin-bottom: 10px;
  font-size: 2.2rem;
}

header p {
  font-size: 1rem;
}

.places-container {
  width: 90%;
  max-width: 1300px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
}

.card {
  background: antiquewhite;
  width: 320px;
  align-content: center;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: 0.3s ease;

}

.card:hover {
  transform: translateY(-6px);
}



.card img {
  width: 320px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}


.card-content {
  padding: 18px;
}

.card-content h2 {
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.type {
  color: black;
  font-weight: bold;
  margin-bottom: 8px;
}

.address {
  color: black;
  line-height: 1.5;
}

footer {
    display: flex;
    background-color: black;
    color: white;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 2rem;
    width: 100%;
}



.view-buttons button:focus {
    outline: 2px solid orangered;
    outline-offset: 3px;
}    
    


/* styles/large.css or inside a Media Query */
@media (min-width: 768px) {
    
  
    

    nav {
        display: flex; /* Show nav on desktop */
        flex-direction: row;
        gap: 20px;
        color: white;
     
    }
    nav a:hover {
        background-color:blue;
    }

    

    

    

    /* Footer layout */
    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-around;
        text-align: center;
        background-color:black;
        align-items: center;
        color: white;
    }
}

@media (min-width: 768px) {
    

    /* Styling the headers to look like the wireframe */
    
footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 2rem;
    width: 100%;

}

.footer-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    text-align: center;
}

/* SOCIAL MEDIA */

.socialmedia {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}

.socialmedia img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 5px;
}
@media (max-width: 768px) {
    .chamber-information {
        text-align: center;
        max-width: 50%;
    }
    .containercontentt {
        flex-direction: column;
        text-align: center;
    }
    

    .socialmedia {
        gap: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 1rem 0;
    }



    .socialmedia img {
        width: 30px;
        height: 30px;
    }

     /* FOOTER */

     .p-div {
        padding: 1rem 0.5rem;
        text-align: center;

    }
    footer {
        display: flex;
        flex-direction: ;
    }

    .footer-container {
        display: flex;
        gap:30px;
    }
    
}

    




  


/* Mobile First - Stacks sections by default */


}


