:root {
        --primary: blue;
        --secondary:white;
        --accent: #E36414;
        
}
body,head,footer {
        width:960px;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--secondary);
    color: var(--primary);
    font-style: italic;
    background-color: #fff;

  
}
p {
    width:300px;
}

    



        
@media (min-width: 768px) {
    .nav-links {
        display: flex;
        
    }
    .hamburger {
    display: none;
}
}




body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0;

}

header,main,footer {
    max-width: 960px;
    display: grid;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1rem; 

}
nav {
    color: white;
} 



footer {
    max-width: 960px;
    background-color:blue;
    color:white;
    display: flex;
    flex-direction: column;

    
   
}    

header {
    display: flex;
    flex-direction: row;
    background-color: blue;
    
    
}

main {
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    background-color: white;
    
}

:root {
    background: white;
}  

.hero article  {
    position: absolute;
    bottom: 5px;
    left: 830px;
    background-color: orange;
    opacity: 0.7;
    color: white;
    padding: .1rem;
    margin: 1px;
}


 
 
nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;


    


}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: xx-large;
    padding: 4rem;
    

}

nav a:hover {
    background-color:red;
    color: var(--accent2-color);
    font-size: xx-large;
    box-sizing: border-box;


}
.grid-containerg {
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    grid-gap:10px;
    place-items:center;

}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 1rem;
    justify-content: center;
    align-items: start;
    padding: 1rem;
    margin: 0 auto; 
}


.grid-container {
    width: 200px;
    background: #fff;
    border-radius: 0;
    padding: 0.5rem;
    text-align: center;
    
}
.grid-container img {
    width: 200px ;
    height: 170px ;
    object-fit:cover;
    display: block;
    margin: 0 auto 0.5rem auto;
    
}


h1 {
    position:relative;
    top: 20px;
    color: #fff;
    font-size: xx-large;
    font-weight: bolder;
    background-color: green;
    text-align: center;
    opacity: .7;
    padding: 2px;

}
        

article {
    display: flex;


}
.logo {
    position: absolute;
    left:12px;
    top:20px;
}
     
.container.p {
    width:  300px;
} 

.grid-container.card {
    gap:1rem;
}
h2 {
    display: flex;
    flex-direction:row ;
    position: absolute;
    top:820px;
    left:400px;

}
    


.purpose {
    display: flex;
    flex-direction: row;
    padding: 2rem;
}
.hamburger::before {
  content: "\2630";
}
.hamburger.show::before {
  content: "\00D7";
}