@media (max-width:310px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
    
}
:root {
        --primary: blue;
        --secondary:white;
        --accent: #E36414;
}


        



body {
    margin: 0;
    width:960px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--secondary);
    font-style: italic;
    padding: 1rem;


  
}
p {
    width:250px;
    align-items: first baseline;
}

    



        




footer {
    max-width: 960px;
    background-color:red;
    color:white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px 1px  1px 1px;
    height: 200px;  
}    


.socialmedia {
    position: relative;
    bottom: 70px;
    align-items: center;
}


main {
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    background-color: white;
    padding: 1rem;
    
}

:root {
    background: white;
}  

.hero article  {
    position: absolute;
    bottom: 5px;
    left: 830px;
    background-color: orange;
    opacity: 0.7;
    color: white;
    padding: .1rem;
    margin: 1px;
}


 
 
nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color:black;


    


}


nav a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: xx-large;
    padding: 4rem;
    

}

nav a:hover {
    background-color:orange;
    color: var(--accent2-color);
    font-size: xx-large;



}

h1 {
    position:absolute;
    top: 200px;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    background-color: green;
    color: white;
    opacity: .7;
    padding: 2px;
    width: 950px;

}

        

article {
    display: flex;


}
.logo {
    position: absolute;
    left:12px;
    top:20px;
}
     
.container.p {
    width:  300px;
} 

.grid-container.card {
    gap:1rem;

}
.purpose h2 {
    display: flex;
    flex-direction:row ;
    position: absolute;
    top:760px;
    left: 400px;
    color:white;
    font-size: xx-large;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    text-align: left;
    background-color: red;



}


.trip-table h2{
    position: absolute;
    top: 330px;
    left:300px;
    color: green;

}
article h1 {
    position: absolute;
    top:90px;
    color: black;
    background-color: white;
    padding: 1rem;


}
.contact-info h1 {
    position: relative;
    top:5px;
    background-color:green;
}
.grid-container h1 {
    position: absolute;
    top:120px;
    width: 930px;
    background-color: green;
    
} 
.p-div  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    bottom: 140px;
    font-weight: bold;

}

.purpose {
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
    background-color: green;
    color: white;
    padding-left: 3rem;
        
}


.purpose img {
    padding-right: 1rem;
    padding-bottom: 1rem;
}
.hamburger::before {
  content: "\2630";
}
.hamburger.show::before {
  content: "\00D7";

}
.contact-info {
    font-size: x-large;
    text-align: center;
}
table {
    position: relative;
    font-size: xx-large;
    width: 960px;
    padding-top: 50px;
    padding-left: .1rem;
    border-radius: 5px;
}
 
       
  
 td:nth-child(3n+3) {
    background-color: green;
    color: white;
 } 




form {
    width: 400px;
    position: absolute;
    left:550px;
    top:740px;
    padding-bottom: 100px;
    border-radius: 2rem;


}

iframe {
    width: 450px;
    padding-bottom: 100px;
}   
        
  label {
    display: block;
    margin-bottom: 0.35rem;
    font-weight: 600;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 400px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    

    
}

.contact-form textarea {
    resize: vertical;
}
.btm-submit {
    background-color: blue;
    color: var(--secondary-color);
    max-width: 400px;
    border-radius: .6px;
    padding: .8rem;

} 





     
    
.cta-trips {
    background-color:white ;
    padding: 0;
    border-radius: 8px;
    text-align: center;
    margin: 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);        

}

.cta-trips h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
    position: absolute;
    top:3px;

}

.cta-trips p {
    font-size: 1rem;
    line-height: 1rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top:1px;
}

.cta-button {
    display: inline-block;
    padding: 0.75rem 2rem;
    background: white;
    color:black;
    text-decoration: none;
    border-radius: 4rem;
    font-weight: 900;
    transition: all 0.3s ease;
    border: 2px solid var(--secondary-color);
    position: absolute;
    bottom: 400px;
    left:100px;
    width: 150px;
    font-size: x-large;
}

.cta-button:hover {
    background: orange;
    color: var(--primary-color);
    transform: scale(1.5);
    opacity: 0.95;
    
}

.cta-button:active {
    transform: scale(0.98);
}
.btm.hover.button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 900;
    width: 400px;
}


.form-checkbox {
    width:400px ;
    align-items: center;
    margin: 1rem;
    

}
.trip-table {
    width: 650px;
    font-size: x-large;
    background-color:var(--secondary-color);
    color: var(--accent2-color);


}




th {
    background-color:green;
    color:white
}


td:nth-child(3n+1){
    background-color:green;
    color: white;

}



