@media (min-width: 1024px) {
    .grid-container {
        display:grid;
        grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
        grid-gap:12px;
        place-items:center;
        padding-top: 60px;
        text-align: center;
        


}}